  /*.background {
    background-image: url('./images/bg1.jpg');

  }*/

  
  h1 {font-family: 'Open Sans', sans-serif; font-size: 200%; padding-top: 20px;}

  h2 {font-family: 'Open Sans', sans-serif; font-size: 250%}

  .h1 {font-family: 'Satisfy', cursive;}

  p {font-family: 'Montserrat', sans-serif;}

  /*sets background colour and image*/
  /*.bg-custom {background-color: #8dace9;}*/

  .padicon {padding: 6px}

  .container {background-color: #ffe6e6}

  .container-fluid {background-color: #ffe6e6}

  /*sets card size and padding*/
  .card-size {width: 12rem;}

  .card-margin {margin: 0.25rem;}

  /*adds a frame around images*/
  .img-frame {background: #ffffff;
            border: 2px solid #000000;
             border-radius: 2px 2px 2px 2px;
            padding: 10px;}


  /*styles the form border on the contact page*/
  .form-container {
    position: absolute;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;

  }

  @media (min-width: 600px) {
    h1 {font-size: 500%;}
    .card-size {width: 16rem;}
    .card-margin {margin: 1rem}
   }

   @media (min-width: )